/* contact Section */
*{
	margin: 0;
	padding: 0;
	outline: none;
	box-sizing: border-box;
}

body{
	background-image: url(./img/lav.png);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	height: 100vh;


}
.section-title {
	font-size: 4rem;
	font-weight: 300;
	color: black;
	margin-bottom: 4rem;
	text-transform: uppercase;
	letter-spacing: 0.2rem;
	text-align: center;
}
.section-title span {
	color: crimson;
}
.contact__container{
    width: 100%;
    gap: 12%;
	align-items: center;
}



/*FORMA*/
.form{
	width: 80%;
	margin: auto;
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 20px;
	border: 2px solid black;
	border-radius: 10px;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate( -50%, -50%);

}
input , textarea{
	width: 100%;
	padding: 0.8rem 10rem 0.8rem 10rem;
	border-radius: 0.5rem;
	background: rgb(255, 253, 253);
	border: 3px solid black;
	resize:none ;
	color: rgb(81, 16, 16);
	margin: 1rem;
}

.btn{
	width: max-content;
	display: inline-block;
	color: white;
	padding: 0.75rem  4.2rem;
	border-radius: 0.9rem;
	cursor: pointer;
	border: 1px solid black;
	background: transparent;
	margin-bottom: 1rem;
	margin-left: 1.2rem;

}

.btn:hover{
    background: rgb(255, 255, 255);
    color: black;
    border-color: transparent;
}

/*End contact Section */





@media screen and (max-width: 700px) {
	input, textarea{
		width: 100%;
		padding: 0.2rem 3.5rem 0.2rem 3.5rem;
		border-radius: 0.5rem;
		}
	
}



 